@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --mainBlack: #282828;
  --mainYellow: #d8ff49;
  --mainBgColor: #fff8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainBlack);
  letter-spacing: 1px;
  cursor: default;
}

html {
  /* for netlify hosting */
  font-size: 11px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar {
  background: var(--mainBgColor);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  font-size: 2rem;
  z-index: 1;
}

.navbar div:nth-child(2) {
  background: #0051ba;
  width: 12rem;
  text-align: center;
}

.navbar .bg {
  background: #ffda1a;
  width: 12rem;
  height: 4.5rem;
  border-radius: 50%;
}

.navbar h1 {
  text-transform: uppercase;
  color: #0051ba;
  font-weight: 900;
}

.cart-btn {
  width: 7rem;
  position: relative;
}

.navbar h1,
.navbar span {
  cursor: default;
}

.fa-shopping-cart {
  cursor: pointer;
}

.total-items {
  background: #ff0000;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: -10px;
  right: 40px;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}
/* navbar */

/* welcome-page */
.welcome-page {
  width: 100%;
  height: 90vh;
  background: url("images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-page div {
  background: #eeeeee88;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
}

.btn {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
  background: var(--mainYellow);
  border: 1px solid var(--mainYellow);
  padding: 1rem 3rem;
  transition: background 500ms ease, color 500ms ease;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #eeeeee88;
  color: #e5ff00;
}
/* welcome-page */

/* product-page */
.products-page {
  width: 100%;
  text-align: center;
}

.products-page h2 {
  font-size: 4rem;
  text-transform: capitalize;
  margin: 5rem;
}

.products-wall {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  margin: 5rem auto;
}

.product {
  position: relative;
  overflow: hidden;
}

.product img {
  width: 100%;
}

.product h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.product h5 {
  font-size: 1.25rem;
}

.product span {
  background: var(--mainYellow);
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateX(101%);
  transition: transform 300ms ease;
  cursor: pointer;
}

.product:hover span {
  transform: translateX(0%);
}
/* product-page */

/* cart-page */
.overlay {
  background: var(--mainBgColor);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.5;
  visibility: hidden;
  transition: visibility 300ms ease;
}

.show-overlay {
  visibility: visible;
}

.cart-page {
  background: var(--mainBgColor);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 600px;
  padding: 2rem;
  text-align: center;
  transform: translateX(101%);
  transition: transform 300ms ease;
  overflow: auto;
}

.show-cart-page {
  transform: translateX(0%);
}

@media (max-width: 800px) {
  .cart-page {
    width: 100%;
  }
}

.fa-window-close {
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  cursor: pointer;
}

.cart-page h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-align: left;
  margin: 2rem 1rem;
}

.cart-item img {
  width: 200px;
}

.cart-item div {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.25rem;
}

.cart-item h4 {
  text-transform: capitalize;
}

.cart-item p,
.fa-caret-up,
.fa-caret-down {
  cursor: pointer;
}
/* cart-page */
